.forgot-container {
  display: flex;
  justify-content: center;
  background-color: aqua;
  width: 100%;
  height: 100vh;
}
.forgot-card {
  margin-top: 50px;
  text-align: center;
  width: 500px;
  height: 450px;
  padding: 10px;
  background-color: azure;
  border-radius: 20px;
}
.forgot-icon {
  justify-content: center;
}
.forgot-text {
  text-align: center;
}
.forgot-input {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 500px;
  padding: 10px;
}
#email {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 390px;
  border-radius: 10px;
  height: 35px;
  margin-left: 40px;
}
.forgot-button {
  margin-top: 20px;
  border-radius: 10px;
  text-align: center;
  width: 400px;
  height: 35px;
}
.forgot-error-p {
  background-color: crimson;
  padding: 5px;
  margin: 2px;
  border-radius: 10px;
  width: 400px;
  margin-top: 20px;
  margin-left: 40px;
}

.know{
  margin-top: 5px;
  text-align: center;
}
@media screen and (max-width: 600px) {
  .forgot-card {
    margin-top: 50px;
    text-align: center;
    width: 380px;
    height: 450px;
    padding: 10px;
    background-color: azure;
    border-radius: 20px;
  }
  .forgot-input {
    width: 340px;
    padding: 10px;
  }
  #email {
    width: 350px;
    border-radius: 10px;
    height: 35px;
    margin-left: 0px;
  }
  .forgot-button {
    width: 360px;
    height: 35px;
  }
  .forgot-error-p {
    width: 350px;
    margin-top: 20px;
    margin-left: 0px;
  }
}
