.error-p{
    background-color: crimson;
    padding: 5px;
    margin: 2px;
    border-radius: 10px;
}
.reset-container{
    display: flex;
    justify-content: center;
    margin: 0px;
     width: 100%;
     height: 100dvh;
     padding: none;
    background-image: url("./reset6.png");
}
.reset-card-container{
    background-color:#fffdfc91;
    margin-top: 100px;
    border-radius: 10px;
    padding: 10px;
    height: 400px;
}
